/* .item {
  width: calc(calc(100% - 50px)/5);
  float: left;
  color: white;
  margin-right: 10px;
}
.fix {
  clear: both;
}
h2  {
  text-align: center; 
  width: 100%;
  color: white;
  background-color: black;
} */